{{ with .Site.Params.featuredVideo }}
{{ if .enable }}
<section id="featured-video" class="py-4 py-sm-5">
  <div class="container px-3 px-sm-5">
    <div class="ratio ratio-16x9 mx-auto" style="max-width: 960px;">
      <iframe
        src="https://www.youtube.com/embed/{{ .youtubeId }}"
        title="{{ .title }}"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen>
      </iframe>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
